*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}


.top {
    width: 100%;
    height: 45px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}

#head{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

   
.top>div:nth-child(1) {
    width: 100%;
    height: auto;
    background-color: white;
}

.top-left{
    display: flex;
    align-items: center;
    padding: 0px 100px;
}

.top-left i{
    position: relative;
  display: inline-block;
}
.badge{
    position: absolute;
    top: 5px;
    left: 7.9rem;
    padding: 2px 6px;
    border-radius: 50%;
    background-color:#007ab8;
    color: white;
}
.top-left>h4,i{
    color: #3e3d3d;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
}

.top>div:nth-child(2) {
    width: 100%;
    height: auto;
    background-color: white;
}

.top-right i {
    float: right;
    padding: 10px 15px;
    size: 10px;
    cursor: pointer;
}
.top-right i:hover{
  background-color:  #3e3d3d;
  color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
}

.navbar>div:nth-child(1) {
    width: 30%;
    height: auto;
    background-color: #007ab8;
}

.navbar>.logo>img{
    margin: 10px;
    width: 90%;
    height: 100%;
}

.navbar>div:nth-child(2) {
    width: 100%;
    height: auto;
    background-color:#333;

}


.navbar>div:nth-child(3) {
    width: 50%;
    height: auto;
    background-color:#333;
}

.searchbar>.search-input{
    width: 60%;
    height: auto;
    margin: 20px 120px;
    border: 1px solid white;
}

input[type=text]{
    width: 80%;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: open helvetica ,Arial, sans-serif;
    padding: 14px 20px;
    display: inline-block;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color:#333;

}
::placeholder{
    color: rgb(230, 216, 216);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: open helvetica ,Arial, sans-serif;
}
.search-input>i{
    padding: 5%;
    color: white;
    cursor: pointer;
}


/********************************** menu  ********************************/

.menu-item:hover .drop-down-menu{
    display: block;
  }

  .menu-item>a{
    float: left;
    cursor: pointer;
    position: relative;
    color: white;
    padding: 35px 20px;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: .5px;
    text-decoration: none;
    /* border: 2px solid red; */
  }

  /**********************************Navigation part done  ********************************/

.kid-sale{
    width: 100%;
    height: 150px;
    background-color: rgb(154, 34, 58);
    text-align: center;
    letter-spacing: 0px;
    word-spacing: -3px;
    line-height:  1.5;
}
.kid-sale h1{
    font-size: 30px;
    font-weight: 800;
    padding-top: 20px;
    color: #fff;
    word-spacing: -5px;
}
.kid-sale strong{
    
    font-size: 20px;
    font-weight: 800;
    color: #fff;
}
.kid-sale p{
    color: #fff;
}
.kid-sale a{
    color: #fff;
    
}



#banner-img-kid{
    width: 100%;
    position: relative;
    padding-bottom: 200px;
    
 }
 #banner-img-kid img{
    width: 100%;
    display: block;
    margin: auto;
    position: absolute;
    z-index: -1;
 }
 .img_content{
    width: 90%;
     line-height: 1.5;
     margin-left: 70px;
     padding-top: 160px;
 }
 .img_content h1{
     font-size: 50px;
     font-weight: 800;
     line-height: .9;
     margin-bottom: 20px;
     color: #000;
 }
 .img_content p{
     color: #000;
     letter-spacing: 1px;
     margin-bottom: 20px;
 
 }
 .img_content a{
     text-decoration: none;
     border: 1px;
     background-color: #000;
     color: #fff;
     letter-spacing: 1px;
     font-size: 12px;
     font-weight: 550;
     padding: 12px 18px 12px 18px;
 }
 
 .img_content a:hover {
    background-color: rgb(37, 35, 35);
 } 

/* Banner woek done */



.main-carousel{
    width: 90%;
    margin: auto;
}
.cell{
    width: 22%;
    height: 350px;
    margin: 0 15.5px;
    overflow: hidden;
}
.cell h4{
    text-align: center;
    margin-top: 30px;
}
.cell img{
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.flickity-page-dots{
    display: none;
}
.explore{
    margin:170px 0 20px 83px;
    font-weight: 800;
}
/* slider part Done */

.men-sale-offer{
   
    display: block;
    margin: 200px 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
     line-height: 1.7;  
 }
 .men-sale-offer img{

    width: 20%;
 }
 
 .men-sale-offer h1{
     font-size: 40px;
     font-weight: 800; 
     letter-spacing: -1px;
     padding-bottom: 10px;
 }
 .men-sale-offer p{
     letter-spacing: 1;
     margin-bottom: 35px;
      
 }
 .men-sale-offer a {
    text-decoration: none;
    border: 1px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 550;
    letter-spacing: 1px;
    padding: 11px 17px 11px 17px;
    margin-left: 10px;
 }
 
 .men-sale-offer a:hover{
    background-color: rgb(37, 35, 35);
 }
 /* men-sale-offer part Done */


 .large-img{
    width: 100%;
    position: relative;
    bottom: 50px;
 }
 .large-img img{
    width: 88%;
    display: block;
    margin: auto;
    position: absolute;
    margin-left: 70px;
    z-index: -1;
 }
 .large-img h3{
    font-size: 20px;
    font-weight: 800; 
    letter-spacing: 1px;
    padding-bottom: 10px;
    margin-left: 70px;
 }
 .fresh{
    margin: 380px 0 0 100px;
 }
 .fresh h2{
    font-size: 20px;
    font-weight: 800; 
    letter-spacing: 1px;
    padding-bottom: 10px;
    color: #fff;
 }
 .fresh a{
    color: #fff;
    font-weight: lighter;
 }
/* large image part done */

.two-images{
    
    width: 90%;
    height: 90vh;
    display: flex;
    margin: auto;
     
}
.two-images .img-div{
    width: 600px;
    height: 540px;
    
}
.two-images .img-div img{
    width: 560px;
    height: 540px;
    position: absolute;
    z-index: -1;
     

}
.tough{
    margin-top: 450px;
    margin-left: 30px;
}
.tough h2{
    color: rgb(255, 255, 255);
    font-weight: 800;
    
}
.tough a{
    color: rgb(255, 255, 255);
    letter-spacing: 2;
    font-size: medium;
    line-height: 1.7;
}
/* left image part */



.two-images .img-div2{
    width: 600px;
    height: 540px;
    margin-left: 20px;
    
}
.two-images .img-div2 img{
    width: 540px;
    height: 540px;
    position: absolute;
    z-index: -1;
   

}
.right_jacket{
    margin-top: 450px;
    margin-left: 25px;
}
.right_jacket h2{
    color: #fff;
    font-weight: 800;
    font-size: x-large;
    
}
.right_jacket a{
    color: #fff;
    letter-spacing: 2;
    font-size: medium;
    line-height: 1.7;
}
/* Right image part */

.round-cont{
    width: 100%;
    text-align: center;
    margin-top: 125px;
    line-height: 1.3;
}
.round-inner h2{
    color: #000;
    font-weight: 900;
    font-size: large;
    margin-bottom: 40px;
}
.round-inner img{
    position: relative;
    width: 40%;
}

.round-wording h2{

    color: #000;
    font-weight: 700;
    font-size: 20px;
    margin: 20px;
}
.round-wording h1{
    color: #000;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.3;
    letter-spacing: 0px;
    margin-bottom: 30px;
}
.round-wording a{
    text-decoration: none;
    border: 1px;
    background-color: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 550;
    letter-spacing: 2px;
    padding: 9px 30px 9px 30px;
}
.round-wording a:hover{
    background-color: rgb(37, 35, 35);
}

/* Round image part done */

/************************************* contact section *****************************/
.contact{
    width: 98%;
    height: 35vh;
    display: grid;
    margin-top: 130px;
    grid-template-columns: repeat(4,1fr);
    /* border: 2px solid red; */
  }
  .contact>.contact-care, .customer-care, .git, .store{
    width: 100%;
    height: auto;
    font-family: sans-serif;
    letter-spacing: .5px;
    text-align: center;
    margin: 10px;
    /* border: 2px solid red; */
  }

  /************************************* footer  ***********************************/

  footer{
    width: 99%;
    height: auto;
    background-color: #333;
    
  }
  .footer-top{
    width: 100%;
    height: 30vh;
    text-align: center;
    /* border: 2px solid red; */
  }
  .footer-top>img{
    margin-top: 3%;
  }
  .join{
    color: white;
    font-size: .875rem;
    font-weight: bold;
    font-family: sans-serif;
  }
  .footer-top>p{
    color: #fff;
    font-family: sans-serif;
    font-size: .875rem;
    letter-spacing: 0.9px;
  }
  .grid-footer{
    width: 100%;
    height: 75vh;
    display: flex;
    margin: auto;
    justify-content: center;
    /* border: 2px solid blue; */
  }
  .grid-footer>div:nth-child(1){
    width: 60%;
    height: auto;
    /* border: 2px solid red; */
    color: white;
  }
  .grid-footer>div:nth-child(2){
    width: 60%;
    height: auto;
    /* border: 2px solid red; */
    color: white;
  }
  .grid-footer>div:nth-child(3){
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    color: white;
  }

  .aboutus>ul li, .shop>ul li{
    padding-left: 40px;
    color: #fff;
    list-style: none;
    font-family: sans-serif;
    font-size: .875rem;
    line-height: 2rem;
    cursor: pointer;
  }

  .connectus>p{
    color: #fff;
    margin: 20px 40px;
    font-family: sans-serif;
  }
  .email-container{
    width: 90%;
    height: 10%;
    margin: auto;
    background-color: #fff;
    text-align: center;
  }

  .email-container>.email-input{
    background-color: white;
}

.email-input>i{
    padding: 15px 10px;
    color: black;
    cursor: pointer;
}
.email-input>a{
    padding: 26px 20px 15px 12px;
    background-color: #eaebed;
}

.email-input>input[type=text]{
    width: 75%;
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: open helvetica ,Arial, sans-serif;
    padding: 14px 20px;
    display: inline-block;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color:white;

}
.email-input>::placeholder{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: sans-serif;
}

.social-media-icon{
    width: 60%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: white;
    cursor: pointer;
    /* border: 2px solid red; */
}

.social-media-icon>i{
    color: white;
    font-size: 20px;
}
a{
    color: white;
}