body {
    margin: 0;
    padding: 0;
}

.top {
    width: 100%;
    height: 45px;
    border: 2px solid red;
    display: flex;
    justify-content: space-around;
}

#head{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}

   
.top>div:nth-child(1) {
    width: 100%;
    height: auto;
    background-color: white;
}

.top-left{
    display: flex;
    align-items: center;
    padding: 0px 100px;
}

.top-left i{
    position: relative;
  display: inline-block;
}
.badge{
    position: absolute;
    top: 5px;
    left: 7.9rem;
    padding: 2px 6px;
    border-radius: 50%;
    background-color:#007ab8;
    color: white;
}
.top-left>h4,i{
    color: #3e3d3d;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
}

.top>div:nth-child(2) {
    width: 100%;
    height: auto;
    background-color: white;
}

.top-right i {
    float: right;
    padding: 10px 15px;
    size: 10px;
    cursor: pointer;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
}

.navbar>div:nth-child(1) {
    width: 30%;
    height: auto;
    background-color: #007ab8;
}

.navbar>.logo>img{
    margin: 10px;
    width: 90%;
    height: 100%;
}

.navbar>div:nth-child(2) {
    width: 100%;
    height: auto;
    background-color:#333;

}


.navbar>div:nth-child(3) {
    width: 50%;
    height: auto;
    background-color:#333;
}

.searchbar>.search-input{
    width: 60%;
    margin: 20px 120px;
    border: 1px solid white;
}

input[type=text]{
    width: 80%;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: open helvetica ,Arial, sans-serif;
    padding: 14px 20px;
    display: inline-block;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color:#333;

}
::placeholder{
    color: rgb(230, 216, 216);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: open helvetica ,Arial, sans-serif;
}
.search-input>i{
    padding: 10px;
    color: white;
    cursor: pointer;
}


/********************************** menu  ********************************/

.menu-item:hover .drop-down-menu{
    display: block;
  }

  .menu-item{
    cursor: pointer;
    height: 50px;
    display: inline-block;
    position: relative;
    color: white;
  }

  .menu-item:first-child span{
    border:none;
  }
  .menu-item span{
    border-left: 1px solid black;
    padding: 0 10px;
  }

  .drop-down-menu{
    display: none;
    width: 100px;
    position: absolute;
    background: white;
    border: 1px solid #301B46;
    padding: 20px;
    top: 40px;
    left: 0px;
  }

  .drop-down-menu:before {
    content: "";
    position: absolute;
    border-color: rgba(194, 225, 245, 0);
    border: solid transparent;
    border-bottom-color: white;
    border-width: 11px;
    margin-left: -10px;
    top: -21px;
    right: 65px;
    z-index: 1;
  } 
  
  .drop-down-menu:after {
      content: "";
      position: absolute;
      right: 66px;
      top: -21px;
      width: 0;
      height: 0;
      border: solid transparent;
      border-width: 10px;
      border-bottom-color: #2B1A41;
      z-index: 0;
  }

/*************************** best_in_show_imgage ********************************/

.container {
    position: relative;
    text-align: center;
    color: white;  
}

.container>img {
    width: 100%;
    height: auto;  
}

.bottom-left-text {
    position: absolute;
    top: 30%;
    left: 4%;
    color: white;
    font-size: 45px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2px;
    letter-spacing: -.08rem;
    text-shadow: 0px 0px 20px #446886;
}

.shop-img-btn {
    position: absolute;
    top: 50%;
    left: 4%;
    font-size: 12px;
    font-weight: 700;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: open sans, -apple-system, BlinkMacSystemFont, segoe ui, Roboto, helvetica neue, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol;
    margin-top: 1rem;
    border: none;
    background-color: white;
    font-style: bold;
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/********************************* second div for sale adv   ********************/

.sale {

    width: 100%;
    height: 110vh;
    border: 2px solid #2185C5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale-carousel {
    width: 40%;
    height: 70%;
    border: 3px solid red;
}

/************************* .Get Ready For Winter
*******************/

.winter_collection {
    width: 100%;
    height: 100vh;
    border: 2px solid red;
}


/*************************** Get Rewards on Every Purchase **********************/

.adverties {
    width: 100%;
    height: 50vh;
    border: 2px solid red;
    text-align: center;
}

.adverties>img {
    margin-top: 3%;
    width: 20%;
    height: 12%;
}

.adverties>h2 {
    font-size: 2.5rem;
    font-family: bold, sans-serif;

}

.adverties>p {
    font-family: Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
}

.adverties button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
}

/***************************************** Need The Right Jacket ************************************/
.jacket {
    margin: auto;
    margin-top: 40px;
    width: 100%;
    height: 80vh;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jacket img {
    width: 90%;
    height: 100%;
    border: 3px solid red;
}

.right-jacket {
    width: 100%;
    height: 60vh;
    border: 2px solid red;
    text-align: center;
}
.right-jacket>h2 {
    font-size: 2.5rem;
    font-family: bold, sans-serif;

}

.right-jacket>p {
    font-family: Arial, sans-serif;
    font-size: .875rem;
    font-weight: 400;
}

.right-jacket button {
    background-color: black;
    color: white;
    text-transform: uppercase;
    padding: 10px 15px;
    cursor: pointer;
    margin: 5px;
}


/*********************** Featured Favorites  ********************************/

.title, .play{
    font-size: 1.5rem;
    font-family: bold, sans-serif;
}

.favorites{
    width: 90%;
    height: auto;
    margin-left: auto;
    align-items: center;
    border: 3px solid red;
    margin: 15px auto;
}

.featured-favorites-container>img{
    width: 100%;
}

.featured-favorites-container,.men, .women {
    position: relative;
    text-align: center;
    color: white;
}

.cold {
    position: absolute;
    top: 85%;
    left: 2%;
    color: white;
    font-size: 22px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2px;
    letter-spacing: -.08rem;
    text-shadow: 0px 0px 20px #446886;
}
#cold{
     position: absolute;
     top: 90%;
    left: 2%;
     color: white;
     border-bottom: 1px solid white;
     font-family: sans-serif;
     font-size: 15px;
}

.men-women{
   width: 90%;
    height: 80vh;
    margin-left: auto;
    align-items: center;
    border: 3px solid red;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
}
.men-women img{
    width: 100%;
    height: 100%;
}
.men-women>.men{
    width: 100%;
    height: 100%;
}
.men-women>.women{
    width: 100%;
    height: 100%;
}
#link{
    position: absolute;
    top: 90%;
   left: 2%;
    color: white;
    border-bottom: 1px solid white;
    font-family: sans-serif;
    font-size: 15px;
}

/******************************************** How Do You Play? *****************************************/

.play{
    width: 90%;
    height: 70vh;
    margin: auto;
    margin-top: 10%;
    border: 3px solid red;
}
.play-img>div>img{
    width: 100%;
    height: 100%;
}
.play-img{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    border: 2px solid green;
}
.play-img>div:nth-child(1){
   width: 100%;
   height: 100%;
    border: 2px solid firebrick;
}
.fishing, .hiking, .hunting, .skisnow{
    position: relative;
    text-align: center;
    color: white;
}
.fishing h3, .hiking h3, .hunting h3, .skisnow h3{
    position: absolute;
    top: 80%;
    left: 6%;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}
.play-img>div:nth-child(2){
    width: 100%;
    height: 100%;
    border: 2px solid firebrick;
}
/* .hiking{
    position: relative;
    text-align: center;
    color: white;
}
.hiking h3{
    position: absolute;
    top: 80%;
    left: 2%;
    color: white;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
} */
.play-img>div:nth-child(3){
    width: 100%;
    height: 100%;
    border: 2px solid firebrick;
}
.play-img>div:nth-child(4){
    width: 100%;
    height: 100%;
    border: 2px solid firebrick;
}

/* ******************“Nature. The world’s largest playground.”
  ********************************/

  .nature-div{
    width: 90%;
    height: 79vh;
    margin: auto;
    align-items: center;
    border: 2px solid green;
  }
  .nature{
    margin: 25vh;
    font-size: 3rem;
    font-family: bold,sans-serif;
    color: #0085ca;
    text-align: center;
    font-weight: 700;
    border: 2px solid red;
  }
  .name{
    margin-top: -150px;
    text-align: center;
    border: 2px solid red;
  }
  .name>p{
    font-family: bold,sans-serif;
  }
  .founder{
    font-size: 12px;
    font-weight: 700;
    font-family: bold,sans-serif;
  }

  /************************************* Explore Best Sellers   **********************************/
  .explore{
    width: 90%;
    height: 80vh;
    margin: auto;
    background-color: #446886;
  }

  /************************************* See you out there. *****************************/
  .planet{
    width: 100%;
    height: 80%;
  }
  .planet>img{
    width: 100%;
    height: 80%;
  }

  /************************************* contact section *****************************/
  .contact{
    width: 98%;
    height: 35vh;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border: 2px solid red;
  }
  .contact>.contact-care, .customer-care, .git, .store{
    width: 100%;
    height: auto;
    font-family: sans-serif;
    letter-spacing: .5px;
    text-align: center;
    margin: 10px;
    border: 2px solid red;
  }

  /************************************* footer  ***********************************/

  footer{
    width: 99%;
    height: auto;
    background-color: #333;
    
  }
  .footer-top{
    width: 100%;
    height: 30vh;
    text-align: center;
    border: 2px solid red;
  }
  .footer-top>img{
    margin-top: 3%;
  }
  .join{
    color: white;
    font-size: .875rem;
    font-weight: bold;
    font-family: sans-serif;
  }
  .footer-top>p{
    color: #fff;
    font-family: sans-serif;
    font-size: .875rem;
    letter-spacing: 0.9px;
  }
  .grid-footer{
    width: 100%;
    height: 75vh;
    display: flex;
    margin: auto;
    justify-content: center;
    border: 2px solid blue;
  }
  .grid-footer>div:nth-child(1){
    width: 60%;
    height: auto;
    border: 2px solid red;
    color: white;
  }
  .grid-footer>div:nth-child(2){
    width: 60%;
    height: auto;
    border: 2px solid red;
    color: white;
  }
  .grid-footer>div:nth-child(3){
    width: 100%;
    height: auto;
    border: 2px solid red;
    color: white;
  }

  .aboutus>ul li, .shop>ul li{
    color: #fff;
    list-style: none;
    font-family: sans-serif;
    font-size: .875rem;
    line-height: 2rem;
    cursor: pointer;
  }

  .connectus>p{
    color: #fff;
    margin: 20px 40px;
    font-family: sans-serif;
  }
  .email-container{
    width: 90%;
    height: 10%;
    margin: auto;
    background-color: #fff;
    text-align: center;
  }

  .email-container>.email-input{
    background-color: white;
}

.email-input>i{
    padding: 15px 10px;
    color: black;
    cursor: pointer;
}
.email-input>a{
    padding: 10px 17px;
    font-size: 36px;
    background-color: #eaebed;
}

.email-input>input[type=text]{
    width: 75%;
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: open helvetica ,Arial, sans-serif;
    padding: 14px 20px;
    display: inline-block;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color:white;

}
.email-input>::placeholder{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-weight: 600;
    font-family: sans-serif;
}

.social-media-icon{
    width: 60%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    border: 2px solid red;
    color: white;
}

.social-media-icon>i{
    color: white;
    font-size: 20px;
}
a{
    color: white;
}