* {
    margin: 0;
    box-sizing: border-box;
}

nav {
    min-height: 110px;
    position: sticky;
    top: 0;
    background: rgb(255, 255, 255,1);
    border: 1px solid red;
    z-index: 10;
}

.activty,
.heading {
    font-family: gert bold, sans-serif;
    margin-top: 15px;
    margin-left: 5%;
}

.activty>a {
    text-decoration: none;
}

.material-symbols-outlined {
    display: inline-block;
    vertical-align: middle;
    /* background-color: black; */
    font-variation-settings:
        'FILL' 1,
        'wght' 200,
        'GRAD' 0,
        'opsz' 48
}


.poster {
    margin-top: 45px;
    /* border: 1px solid black; */
}

.poster>img {
    width: 100%;
    height: 10%;
}

.Container {
    display: flex;
}

.Container>div:last-child {
    width: 75%;
}

.filter_Container {
    width: 25%;
    /* border: 1px solid blue; */
    min-height: 400px;
      
}

.filter_Container>div{
    position: sticky;
  position: -webkit-sticky;
  top: 14.8%;
}
.container_2>.sort{
    position: sticky;
    position: -webkit-sticky;
    top: 14.8%;
}


.filter_Container>div {
    width: 70%;
    margin: auto;
}

.category_filter {
    display: flex;
    flex-direction: column;
}

.category_filter>span {
    margin: 5%;
}

.category_filter>span:target {
    font-weight: bolder;
}


.category_filter,
.gender_filter {
    font-size: 1.2rem;
    padding: 10px;
}

.gender_filter>div {
    margin: 5% 0;
}

.gender_filter>div>input:checked+label {
    font-weight: bold;
}


.Static_filter {
    display: flex;
    justify-content: space-between;
}

.line_1 {
    margin-top: 15%;
    margin-bottom: 5%;
}

.line {
    margin: 5% 0;
}

.sort {
    padding: 1%;
    display: flex;
    flex-direction: row-reverse;
    background: rgba(255,255, 255, 1);
    z-index: 1;
}

#Other_Filter {
    width: 16%;
    padding: 1%;
    margin-right: 6%;
    font-size: 1.2rem;
}

#Product_Container {
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}


.product {
    padding: 10px;
    min-height: 550px;
}

.product:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product>button {
    color: #fff;
    font-size: 1rem;
    background-color: #000;
    background-image: none;
    border-color: #000;
    padding: 2% 22%;
    margin: auto;
    /* margin: 10px 0; */
    display: block;
}

.product>button:hover {
    background-color: #373737;
    border: 2px solid white;
}

.product>button:active {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product>div>span {
    min-height: 20px;
    min-width: 20px;
    margin: 5px;
    border-radius: 50%;
    background-color: #c80024;
    border: 1px solid white;
    display: inline-block;
}

.product>h4 {
    color: #900;
    margin: 3% 0;
}

.product>div>span:nth-child(2) {
    background-color: #1c2438;
}

.product>div>span:nth-child(3) {
    background-color: #212023;
}

.product>div>span:nth-child(4) {
    background-color: #666165;
}


.product>img {
    width: 100%;
    min-height: 250px;
    margin-bottom: 5%;
}

.product>p {
    margin: 4% 0;
}
.skiCloth>h4{
   margin: 2% 0;
}

.lastLine{
    border: 1.5px solid black;
    margin: 2% 0;
}

.container_3{
    border-top: 0.5px solid rgb(205, 205, 205);
    display: flex;
    width: 90%;
    margin: auto;
    margin-top: 6%;
    justify-content: space-between;
}

.container_3>div{
    
    width: 24%;
    padding: 3% 0 1% 0 ;
    text-align: center;
}


footer {
    min-height: 400px;
}

@media screen and (max-width:1000px) and (min-width:800px) {
    #Product_Container {
        /* border: 2px solid red; */
        min-height: 400px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
    }

    #Other_Filter {
        width: 16%;
        margin-right: 6%;
        font-size: 0.8rem;
    }
}

@media screen and (max-width:800px) {
    #Product_Container {
        /* border: 2px solid red; */
        width: 100%;
        min-height: 400px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    #Other_Filter {
        width: 16%;
        padding: 1%;
        margin-right: 6%;
        font-size: 0.5rem;
    }

    .Container>div:last-child {
        width: 95%;
        margin: auto;
    }

    .filter_Container {
        display: none;
    }
}