 /* margin: 0;
    padding: 0;
} */

.top {
    width: 100%;
    height: 45px;
     
    display: flex;
    justify-content: space-around;
}

#head{
    position: sticky;
    top: 0;
    overflow: hidden;
    z-index: 1;
}


.top>div:nth-child(1) {
    width: 100%;
    height: auto;
    background-color: white;
}

.top-left{
    display: flex;
    align-items: center;
    padding: 0px 100px;
}

.top-left i{
    position: relative;
  display: inline-block;
}
.badge{
    position: absolute;
    top: 5px;
    left: 7.9rem;
    padding: 2px 6px;
    border-radius: 50%;
    background-color:#007ab8;
    color: white;
}
.top-left>h4,i{
    color: #3e3d3d;
    padding: 10px;
    font-size: 15px;
    font-family: sans-serif;
}

.top>div:nth-child(2) {
    width: 100%;
    height: auto;
    background-color: white;
}

.top-right i {
    float: right;
    padding: 10px 15px;
    size: 10px;
    cursor: pointer;
}
.top-right i:hover{
  background-color:  #3e3d3d;
  color: white;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
}

.navbar>div:nth-child(1) {
    width: 30%;
    height: auto;
    background-color: #007ab8;
}

.navbar>.logo>img{
    margin: 10px;
    width: 90%;
    height: 100%;
}

.navbar>div:nth-child(2) {
    width: 100%;
    height: auto;
    background-color:#333;

}


.navbar>div:nth-child(3) {
    width: 50%;
    height: auto;
    background-color:#333;
}

.searchbar>.search-input{
    width: 60%;
    height: auto;
    margin: 20px 120px;
    border: 1px solid white;
}

input[type=text]{
    width: 80%;
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: open helvetica ,Arial, sans-serif;
    padding: 14px 20px;
    display: inline-block;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color:#333;

}
::placeholder{
    color: rgb(230, 216, 216);
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: open helvetica ,Arial, sans-serif;
}
.search-input>i{
    padding: 5%;
    color: white;
    cursor: pointer;
} 


/********************************** menu  ********************************/

.menu-item:hover .drop-down-menu{
    display: block;
  }

  .menu-item>a{
    float: left;
    cursor: pointer;
    position: relative;
    color: white;
    padding: 35px 20px;
    font-family: sans-serif;
    font-size: 15px;
    letter-spacing: .5px;
    text-decoration: none;
    /* border: 2px solid red; */
  }




/*************************** best_in_show_imgage ********************************/

.snow-container {
    position: relative;
    text-align: center;
    color: white;  
}

.snow-container>img {
    width: 100%;
    height: auto;  
}

.bottom-left-text {
    position: absolute;
    top: 30%;
    left: 4%;
    color: white;
    font-size: 45px;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2px;
    letter-spacing: -.08rem;
    text-shadow: 0px 0px 20px #446886;
}

.shop-img-btn {
    position: absolute;
    top: 50%;
    left: 4%;
    font-size: 12px;
    font-weight: 700;
    color: black;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: open  helvetica, Arial, sans-serif;
    margin-top: 1rem;
    border: none;
    background-color: white;
    font-style: bold;
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
} */

/* --------top part css-------------- */
#navBar{
    height: 100px;
    background-color: grey;
}
#under_nav{
 display: flex;   
height: 60px;
background-color:  #3e3d3d;
}
#under_nav label{
    margin-left: 20px;
    padding-top: 24px;
    color: white;
}
#under_nav label a{
    color: white;
}
#under_nav_image{
/* padding-top: 0px;   */
padding-top: 10px; 
margin-left: 440px; 
/* margin: auto; */
/* border: 2px solid violet;     */
width: 5%;
height: 50px;
}
#under_nav_image img{
margin:auto;    
height: 80%;
width: 100%;
} */

/* ----------------------------medium top------ */
#hedaingPhone{
    margin: auto;
    width: 95%;
    height:100px;
    display: flex;
}
/* //heading */
#forShopping{
    font-size: 40px;
}
/* icon  */
#phone{
padding-top: 40px;
margin-left: 67%;
}
#phoneNum {
    padding-top: 45px;
    margin-left: 10px;

}

/* ----------------bttom of top--------------- */
#topDiv{
    height: 140px;
    width: 95%;
    margin: auto;
    border: grey 1px solid;
}
#topDiv img{
    margin-top: 10px;
    padding-left: 36%;
    height: 40px;
}
#topDiv p{
    font-size: 19px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top:0px;
    padding-left: 30%;
}
#for_free{
    font-size: 17px;
    color: black;
    padding-left: 40%;
  
}
#for_free:hover{
color: grey;
}
#login{
    font-size: 17px;
    color: black;
    padding-left: 8%;
}
#login:hover{
    color: grey;
}

#informations{
    margin-top: 3%;
    display: flex;
    margin: 2%;
    height: 60px;
    /* border: 2px solid black; */
    width: 97%;

}
.onecss{
    padding-top:2%;
}

#items{
    font-weight: bolder;
    font-size:20px; 
    margin-left: 4%;
}

#price{
    margin-left: 35%;
    font-weight: bolder;
    font-size:20px;
}
#qty{
    margin-left: 3%;
    font-weight: bolder;
    font-size:20px;
  
}
#sub{
    margin-left: 3%;
    font-weight: bolder;
    font-size:20px;
}
#summary{
    margin-left: 10%;
    font-weight: bolder;
    font-size:20px;
}


/* this is for conatiner */
/* #container{
    display: flex;
    height:240px;
    width: auto;
    border: 2px solid brown;
} */
#containerHead{
    display: flex;
}
#container{
    display: block;
    width:100%;
    height: 100%;
    /* border: 2px dotted black; */
}

.remove{
    border: 1px solid black;
    padding: 1% 5%;
    background-color: grey;
}

.remove:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}
.remove:active{
    background:rgb(0, 0, 0,0.7) ;
}
.main_container{
    display: grid;
    grid-template-columns: 25% 28% 10% 10% 10%;
    grid-template-rows: auto;
    /* margin-left:10px; */
    width: 96%;
    height: 60%;
    /* border: 2px solid red; */
}


#order_summary{

    /* position: fixed; */
    display: grid;
    margin-left:1%;
    width: 40%;
    height:auto;
    height: 70%;
    border: 1px solid grey;
    /* border: 2px solid black; */
}
#subtotal{
    height: 100%;
    width: 100%;
    /* border: 2px solid yellow; */
    margin-left:150%;
    text-align: center;
}

#quantitys{
    height: 100%;
    width: 100%;
    /* border: 2px solid orangered; */
    margin-left: 125%;
    text-align: right;
}
#priceDiv{
    height: 100%;
    width: 100%;
    /* border: 2px solid blue; */
    text-align: right;
    margin-left:99%;

}

#order_summary a{
margin-top: 7%;
margin-left: 5%;
}
.upper_details{
    height:auto;
    margin-left:5%;
}
.upper_values{
   text-align: right;
}
#subtotalforsummry{
    margin-left: 60%;
}
#stndlv{
    margin-left: 34%;
    height: 0px;
   
}
#esttax{
    margin-left: 49%;
}
#totalestimate{
margin-left: 40%;
}
#save{
    margin-left: 60%;
}
#order_summary img{
    width: 60px;
    height: 30px;
    margin-left: 40%;
    margin-top: 10%;
}
#guestcheckout{
    height: 40px;
    width: 80%;
    background-color: brown;
    color: white;
    font-weight: bolder;
    margin: auto;
}

/*------------footer---------------- */

footer{
    width: 99%;
    height: auto;
    background-color: #333;
    
  }
  .footer-top{
    width: 100%;
    height: 30vh;
    text-align: center;
    /* border: 2px solid red; */
  }
  .footer-top>img{
    margin-top: 3%;
  }
  .join{
    color: white;
    font-size: .875rem;
    font-weight: bold;
    font-family: sans-serif;
  }
  .footer-top>p{
    color: #fff;
    font-family: sans-serif;
    font-size: .875rem;
    letter-spacing: 0.9px;
  }
  .grid-footer{
    width: 100%;
    height: 75vh;
    display: flex;
    margin: auto;
    justify-content: center;
    /* border: 2px solid blue; */
  }
  .grid-footer>div:nth-child(1){
    width: 60%;
    height: auto;
    /* border: 2px solid red; */
    color: white;
  }
  .grid-footer>div:nth-child(2){
    width: 60%;
    height: auto;
    /* border: 2px solid red; */
    color: white;
  }
  .grid-footer>div:nth-child(3){
    width: 100%;
    height: auto;
    /* border: 2px solid red; */
    color: white;
  }

  .aboutus>ul li, .shop>ul li{
    color: #fff;
    list-style: none;
    font-family: sans-serif;
    font-size: .875rem;
    line-height: 2rem;
    cursor: pointer;
  }

  .connectus>p{
    color: #fff;
    margin: 20px 40px;
    font-family: sans-serif;
  }
  .email-container{
    width: 90%;
    height: 10%;
    margin: auto;
    background-color: #fff;
    text-align: center;
  }

  .email-container>.email-input{
    background-color: white;
}

.email-input>i{
    padding: 15px 10px;
    color: black;
    cursor: pointer;
}
.email-input>a{
    padding: 10px 17px;
    font-size: 36px;
    background-color: #eaebed;
}

.email-input>input[type=text]{
    width: 75%;
    color: black;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    font-family: open helvetica ,Arial, sans-serif;
    padding: 14px 20px;
    display: inline-block;
    border: none;
    outline: none;
    box-sizing: border-box;
    background-color:white;

}
.email-input>::placeholder{
    color: rgb(0, 0, 0);
    font-size: 16px;
    font-family: sans-serif;
}

.social-media-icon{
    width: 60%;
    height: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
    color: white;
    cursor: pointer;
    /* border: 2px solid red; */
}

.social-media-icon>i{
    color: white;
    font-size: 20px;
}
a{
    color: white;
}
#order_summary{
    margin-bottom: 10%;
}
